{% extends 'base.html' %}
{% block booking %}

     <div class="row mt-5">
        <div class="col-6 offset-3">
            <form action="{{ url_for('sent', id=id) }}" class="card mb-3" method="post">



                  <div class="card-body text-center pt-5">
                    <img src="{{ teacher.picture }}" class="mb-3" width="95" alt="">
                    <h5 class="card-title mt-2 mb-2">{{ teacher.name }}</h5>
                    <p class="my-1">Запись на пробный урок</p>
                    <p class="my-1">Вторник, 12:00</p>
                  </div>


                   <hr/>

                   <div class="card-body mx-3">

                       {{ form.csrf_token }}
                       {{ form.name.label(class='mb-1 mt-2') }}
                       <br>
                       {{ form.name(size=59, class='inpit-field') }}
                       <br>
                       {{ form.phone.label(class='mb-1 mt-2') }}
                       <br>
                       {{ form.phone(size=59, class='inpit-field') }}

                       <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">

                   </div>

                </form>

        </div>
     </div>


{% endblock %}